@font-face {
	font-family: "SFPixelate";
	src: url('../fonts/SFPixelate-Oblique.ttf')
}

@font-face {
  font-family: "Avenir";
  src: url('../fonts/AvenirLTStd-Roman.ttf')
}

.btn-outline {
  border: solid 5px black;
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: #ffcc00;
  background-color: black;
  border: solid 5px #ffcc00;
  font-weight:800;

}
.btn {
  font-family: 'SFPixelate', 'Helvetica', 'Arial', 'sans-serif';
  letter-spacing: 2px;
  border-radius: 0px;
  background-color: black;
  color:#ffcc00;
  border-color:black;
  font-style: italic;
  padding: 10px 20px;
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left:10px;
}

.btn-xl {
  font-size: 21px;
}

.btn2 {
  font-family: 'Avenir', 'Helvetica', 'Arial', 'sans-serif';
  font-weight:500;
  line-height: 28px;
  text-transform: uppercase;
  letter-spacing: 1px;
  border: solid 5px #FFFFFF;
  background-color: #0033ff;
  color:#FFFFFF;
  width:170px;
  padding: 12px 0px;
  margin-left: -20px;
}

@media only screen and (max-width: 767px) {
  .btn-xl {
    font-size: 16px;
  }
  .btn2{
    width:130px;
    font-weight:600;
    padding: 5px 0;
    margin-left:0px;
  }

  .btn{
    padding: 10px 10px;
    margin-left:0px;
  }