@font-face {
	font-family: "SFPixelate";
	src: url('../fonts/SFPixelate-Bold.ttf')
}

.btn-outline {
  color: black;
  border-color: black;
  border: 1px solid;
  
}
.btn-outline:hover,
.btn-outline:focus,
.btn-outline:active,
.btn-outline.active {
  color: black;
  background-color: #ffcc00;
  border-color: #ffcc00;

}
.btn {
  font-family: 'SFPixelate', 'Helvetica', 'Arial', 'sans-serif';
  text-transform: uppercase;
  letter-spacing: 2px;
  border-radius: 0px;
  background-color: black;
  color:#ffcc00;
  border-color:black;
}
.btn-xl {
  padding: 10px 45px;
  font-size: 26px;
  font-style: italic;
}
